.endereco-form {
    display: none;
    margin-top: 20px; /* Adiciona um espaçamento entre o produto e o formulário */
    border: 1px solid rgb(176, 243, 243);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(176, 243, 243);
}

.endereco-form h2 {
    color: #333;
}

.endereco-form label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.endereco-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.endereco-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.endereco-form button:hover {
    background-color: #45a049;
}



body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    background-color: rgb(176, 243, 243);
    color: #333;
}

header {
    background-color: rgb(176, 243, 243);
    color: black;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}


.catalogo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
}

.produto {
    
    background-color: rgb(203, 240, 243);
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border-radius: 27px 27px;
}

.produto:hover {
    transform: scale(1.05);
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

button {
    background-color: #eba6dc;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 2cm 20px;
    font-family: cursive;
}

button:hover {
    background-color: #4325ec;
}

footer {
    background-color: rgb(253, 209, 240);
    color:black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
